body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App-header {
  margin-bottom: 1em;
  padding: 2em 1em 3em;
}
header nav.bg-light {
  background: white !important;
  font-size: 1.2em;
  font-weight: 600;
}
h1 {
  text-align: center;
  margin-bottom: 1em !important;
}
.user-info-container img {
  width: 100%;
  max-width: 5em;
  margin-top: 1em;
}
.question-wrapper a {
  display: flex;
  align-items: center;
  color: darkslategrey;
}
.question-wrapper a:hover {
  color: darkslategrey;
  text-decoration: none;
}
.user-info-container {
  width: 25%;
  text-align: center;
}
.user-info-container p {
  margin: 1em 0;
  text-align: center;
}
.question-info-container {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  padding: 1em 0 1em 2em;
  margin-left: 0em;
  border-left: 1px solid rgba(0,0,0,.125);
}
.navigation-wrapper,
.user-info-wrapper {
  display: inline-flex;
  align-items: center;
}
.App-header > div {
  display: flex;
  justify-content: space-between;
}
.App-header .user-info-container {
  display: flex;
  width: fit-content;
  height: 44px;
  margin-right: 1em;
  padding-right: 1em;
  border-right: 1px solid lightgrey;
}
.App-header .user-info-container img {
  height: 100%;
  width: auto;
  margin: 0 1em;
}
.App-header .user-info-container p {
  margin: auto;
}
.content {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}
.nav-tabs {
  font-size: 1.8em;
  margin-bottom: -1px;
}
.nav-tabs .nav-item {
  width: 50%;
  text-align: center;
  padding: .7em .5em;
  color: lightgray;
}
.list-group button:first-of-type {
  border-top: none;
}
.question-details-container {
  display: flex;
  padding: 2em 1.5em;
  background: #f8f9fa;
  border-radius: 1em;
  border: 1px solid rgba(0,0,0,.125);
}
.question-details-form h2 {
  margin-bottom: .5em;
}
.form-check-input {
  margin-top: .6rem;
}
.question-details-container .user-info-container {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.results-data {
  padding: 1em;
}
.results-data.selected {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
  border-radius: 1em;
  border: 1px solid;
}
.list-group > p {
  text-align: center;
  padding: 2em;
}